.main__wrapper {
    nav {
        height: 64px;
        .nav-link {
            font: {
                size: 20px;
            }
        }
    }

    .post_container {
        margin-top: calc(3% + 64px);
        .post_item {
            border: 1px solid black;
            padding-bottom: 15px;
            display: block;
            .post_title {
                height: 80px;
            }
            .post_img {

            }
            .post_descr {

            }
            .post_buttons {
                display: flex;
                justify-content: flex-start;
                img {
                    height: 64px;
                }
            }
        }

    }
    .post_full {
        margin-top: calc(3% + 64px);
        .post_img {
            max-height: 300px;
        }
        .submit_btn {
            margin-top: 20px;
            background-color: #6c757d;
            border-color: #6c757d;
            width: 70%;
        }
        textarea#comment {
            resize: none;
            width: 70%;
        }
    }
    .pagination.row {
        margin-top: 50px;
    }
}
#logout_form a {
    color: rgba(255, 255, 255, 0.55);
    &:hover {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.75);
    }
}
